header {
   
    padding: 10px;

}
ul{
   
    color: black;
    font-size: 2rem;
    padding: 20px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
}

li{
    
    color: black;
    display: inline;
    padding: 50px;
    font-size: 1.5rem;
    border: solid black;
    justify-content: center;
    justify-content: space-around;
}

h1{
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
